.editor_title {
  font-family: $montserratFont;
  font-weight: bold;
  color: $editorTitleFontColor;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin: 75px 0 10px;
  line-height: 40px;
}

.editor_slogan {
  font-family: $latoFont;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: $editorSloganFontColor;
}

.editor-actions {
  font-family: $montserratFont;
  font-weight: bold;
  font-size: 13px;
  margin: 40px auto 70px auto;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.actions-btn {
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  margin-bottom: 25px;
  cursor: pointer;
}

.actions-btn-icon {
  display: inline-block;
  border-right: 1px solid rgba(27,31,35,.2);
  background-color: #eff3f6;
  padding: 5px 10px;
}

.actions-btn-number{
  display: inline-block;
  padding: 5px 10px;
}

.watch-actions::before {
  content: "\f06e";
  @include actionsBefore;
}

.star-actions::before {
  content: "\f005";
  @include actionsBefore;
}

.fork-actions::before {
  content: "\f126";
  @include actionsBefore;
}

@media screen and (min-width: $tabsBreakPoint) {
  .editor_title {
    font-size: 32px;
    margin: 105px 0 32px;
  }

  .editor_slogan {
    font-size: 23px;
    line-height: 35px;
  }

  .editor-actions {
    max-width: 420px;
  }
}

@media screen and (min-width: $desktopBreakPoint) {
  .editor_title {
    font-size: 40px;
    margin: 130px 0 40px;
  }

  .editor_slogan {
    font-size: 26px;
    line-height: 40px;
  }

  .editor-actions {
    max-width: 420px;
  }
}


