$latoFont : "Lato", sans-serif;
$montserratFont : "Montserrat", sans-serif;
$editorTitleFontColor : #635c73;
$editorSloganFontColor : #5b5b5b;
$tabsBreakPoint : 481px;
$desktopBreakPoint : 993px;
$ultraBigScreenBreakPoint : 1201px;
